ShoesWPF/Service References/ShopService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ShoesShopContract" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="netPipeFactory_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="netPipeShoes_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ConsoleShoesServer.ShopDataService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFactoryContract_getFactories_InputMessage">
    <wsdl:part name="parameters" element="tns:getFactories" />
  </wsdl:message>
  <wsdl:message name="IFactoryContract_getFactories_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFactoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IFactoryContract_addFactory_InputMessage">
    <wsdl:part name="parameters" element="tns:addFactory" />
  </wsdl:message>
  <wsdl:message name="IFactoryContract_addFactory_OutputMessage">
    <wsdl:part name="parameters" element="tns:addFactoryResponse" />
  </wsdl:message>
  <wsdl:message name="IShoesContract_getAllShoes_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllShoes" />
  </wsdl:message>
  <wsdl:message name="IShoesContract_getAllShoes_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllShoesResponse" />
  </wsdl:message>
  <wsdl:message name="IShoesContract_addShoe_InputMessage">
    <wsdl:part name="parameters" element="tns:addShoe" />
  </wsdl:message>
  <wsdl:message name="IShoesContract_addShoe_OutputMessage">
    <wsdl:part name="parameters" element="tns:addShoeResponse" />
  </wsdl:message>
  <wsdl:portType name="IFactoryContract">
    <wsdl:operation name="getFactories">
      <wsdl:input wsaw:Action="http://tempuri.org/IFactoryContract/getFactories" message="tns:IFactoryContract_getFactories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFactoryContract/getFactoriesResponse" message="tns:IFactoryContract_getFactories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addFactory">
      <wsdl:input wsaw:Action="http://tempuri.org/IFactoryContract/addFactory" message="tns:IFactoryContract_addFactory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFactoryContract/addFactoryResponse" message="tns:IFactoryContract_addFactory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IShoesContract">
    <wsdl:operation name="getAllShoes">
      <wsdl:input wsaw:Action="http://tempuri.org/IShoesContract/getAllShoes" message="tns:IShoesContract_getAllShoes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShoesContract/getAllShoesResponse" message="tns:IShoesContract_getAllShoes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addShoe">
      <wsdl:input wsaw:Action="http://tempuri.org/IShoesContract/addShoe" message="tns:IShoesContract_addShoe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShoesContract/addShoeResponse" message="tns:IShoesContract_addShoe_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="netPipeFactory" type="tns:IFactoryContract">
    <wsp:PolicyReference URI="#netPipeFactory_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="getFactories">
      <soap12:operation soapAction="http://tempuri.org/IFactoryContract/getFactories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addFactory">
      <soap12:operation soapAction="http://tempuri.org/IFactoryContract/addFactory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="netPipeShoes" type="tns:IShoesContract">
    <wsp:PolicyReference URI="#netPipeShoes_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="getAllShoes">
      <soap12:operation soapAction="http://tempuri.org/IShoesContract/getAllShoes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addShoe">
      <soap12:operation soapAction="http://tempuri.org/IShoesContract/addShoe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShoesShopContract">
    <wsdl:port name="netPipeFactory" binding="tns:netPipeFactory">
      <soap12:address location="net.pipe://shoesstock/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://shoesstock/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-S1J7RL9\Mikhail</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="netPipeShoes" binding="tns:netPipeShoes">
      <soap12:address location="net.pipe://shoesstock/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://shoesstock/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-S1J7RL9\Mikhail</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>