ShoesWPF/Service References/Factories/ConsoleShoesServer.ShopService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConsoleShoesServer.ShopService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConsoleShoesServer.ShopService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFactoryService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FactoryService" nillable="true" type="tns:FactoryService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFactoryService" nillable="true" type="tns:ArrayOfFactoryService" />
  <xs:complexType name="FactoryService">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FactoryService" nillable="true" type="tns:FactoryService" />
</xs:schema>